@font-face {
  font-family: fontO;
  src: url(/public/font1.woff);
}

@font-face {
  font-family: fontW;
  src: url(/public/font2.ttf);
}

@font-face {
  font-family: "digital_techregular";
  src: url("./assets/font-face/digitaltech-rm0k-webfont.woff2") format("woff2"),
    url("./assets/font-face/digitaltech-rm0k-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  /*background-image: url("./assets/img/background-img.png");*/
  background-color: #000;
  font-family: digital_techregular, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* background-color: #352512; */
}

.dolar {
  font-weight: lighter;
  font-family: "Arial Narrow Bold", sans-serif;
}

.logo {
  width: 4rem;
  border-radius: 50%;
  margin: 8%;
  opacity: 80%;
}

.text-logo {
  display: inline;
  font-family: digital_techregular, sans-serif;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.622);
}

.logo-mobile {
  display: none;
}

.text-fonto {
  font-family: cursive;
  color: #b3a198;
}

.text-fontw {
  font-family: fantasy;
  color: #b3a198;
}

.background-road {
  background-color: #27130acb;
}

.Main-header {
  background-image: url("./assets/img/bcgr.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

nav ul {
  align-items: center;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-title h2 {
  margin: 0 0 12px;
  font-size: 56px;
  font-weight: 700;
  text-decoration: underline !important;
}

.section-title p {
  font-size: 16px;
  color: #991111;
}

.roadmap-section {
  padding-top: 0 !important;
}

.roadmap-section-inner {
  margin-left: auto;
  margin-right: auto;
}

.roadmaps-wrap {
  --dot-border: 4px;
  position: relative;
  margin: 50px 0 0;
  padding: 70px 0 0;
  z-index: 1;
  margin: 0 auto;
}

.roadmaps-wrap .arrow-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
  width: var(--dot-border);
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmaps-wrap .arrow-line .line {
  border-left: var(--dot-border) dotted #fff;
  flex-grow: 1;
}

.roadmaps-wrap .arrow-line .triangle-top {
  border-top: 20px solid #ffffff !important;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-width: 13px;
  display: block;
  flex-shrink: 0;
  margin: 0 0 -15px 0;
}

.roadmaps-wrap .arrow-line .triangle-bottom {
  border-top: 5px solid transparent;
  border-bottom: 20px solid #ffffff !important;
  border-left: 5px solid transparent;
  border-right: 4px solid transparent;
  border-width: 13px;
  display: block;
  flex-shrink: 0;
  margin: -15px 0 0 0;
}

.single-roadmap {
  padding: 0 0 80px;
  display: flex;
  align-items: center;
}

.single-roadmap .title {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.single-roadmap .title h2 {
  font-family: digital_techregular, sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0;
  color: #ffffff;
  user-select: none;
}

.single-roadmap h3 {
  font-size: 20px;
  color: #0095a6 !important;
}

.single-roadmap h3 span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.single-roadmap p span {
  color: #9b1908;
}

.single-roadmap .number {
  font-family: digital_techregular, sans-serif;
  margin: 0 20px 0 0;
  height: 55px;
  width: 55px;
  font-size: 20px;
  color: #fff;
  order: -1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--dot-border) dotted #ffffff;
  border-radius: 50%;
  background: #000;
  user-select: none;
}

.single-roadmap .number.active {
  background-color: #fff;
  color: #0086c4;
}

.single-roadmap .number:hover {
  background-color: #fff;
  color: #0086c4;
}

.single-roadmap .text {
  width: 50%;
}

.single-roadmap .text p {
  padding: 0.25rem 0;
  max-width: 600px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  color: #fff;
  line-height: 1.4;
  opacity: 0.9;
  letter-spacing: 1.25px;
  user-select: none;
}

.single-roadmap .text:hover p {
  transition: 0.5s;
  opacity: 1;
}

#roadmap {
  border-bottom: 2px solid #ffffff;
}

#roadmap h1 {
  font-family: digital_techregular, sans-serif;
  color: #fff;
  text-shadow: 5px 5px 20px #0086c4;
  padding-left: 12rem;
  border-bottom: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.356);
}

.roadmaps-wrap {
  --dot-border: 2px;
}

.single-roadmap {
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 40px;
}

.roadmaps-wrap .arrow-line {
  left: 26px;
  transform: none;
}

.single-roadmap .text {
  padding: 20px 0 0 75px;
  width: 100%;
}

.single-roadmap .title {
  width: initial;
  justify-content: flex-start;
  flex-grow: 1;
}

.nav-item span {
  letter-spacing: 1px;
  font-size: medium;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-tabs {
  border: 2px solid #615f003a;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #615f0028;
  cursor: pointer;
}

.nav-tabs:hover {
  background-color: #615f00;
}

.twitter {
  font-size: 20px;
}

.discord {
  font-size: 20px;
}

.instagram {
  font-size: 20px;
}

.nav-item.twitter a {
  display: flex;
  color: white;
  justify-content: center;
  padding: 6px 20px;
  border: 2px solid #615f0044;
  align-items: center;
  border-radius: 25px;
  gap: 8px;
  transition: all 0.3s linear;
  background-color: #1da0f22f;
}

.nav-item.twitter a:hover {
  background-color: #1da1f2;
}

.nav-item.instagram a {
  display: flex;
  color: white;
  justify-content: center;
  padding: 6px 20px;
  border: 2px solid #615f0044;
  align-items: center;
  border-radius: 25px;
  gap: 8px;
  transition: all 0.3s linear;
  background-color: #db6daf39;
}

.nav-item.instagram a:hover {
  background-color: #db6daf;
}

.nav-item.discord a {
  display: flex;
  color: white;
  justify-content: center;
  padding: 6px 20px;
  background-color: #7289da00;
  align-items: center;
  border-radius: 25px;
  border: 2px solid #615f0044;
  gap: 8px;
  transition: all 0.3s linear;
  background-color: #7289da39;
}

.nav-item.discord a:hover {
  background-color: #7289da;
}

.nav-item .whitepaper {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 18px;
}

.nav-item .whitepaper:hover {
  transition-duration: 0.5s;
  color: #2d093d;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 10px #2d093d8e;
}

.nav-item button {
  font-weight: bold;
}

#about .img {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .text {
  max-width: 1500px;
}

#about h1 {
  color: rgb(170, 161, 161);
  padding-bottom: 1rem;
  font-family: unset;
}

#about h2 {
  font-size: 20px;
  line-height: 34px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

#about h2 p {
  display: table-cell;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.imp {
  color: #845fe9;
}

#about > * {
  font-family: digital_techregular, sans-serif;
}

.game {
  font-size: xx-large;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 160px;
  font-style: italic;
  opacity: 0.7;
}

.hero-text p {
  color: #785108;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}

.hero-text span {
  font-family: sans-serif;
}

#faq h1 {
  letter-spacing: 2px;
  color: #00ffff;
  font-family: digital_techregular, sans-serif;
}

.faq span {
  font-size: 2rem;
  font-family: digital_techregular, sans-serif;
  color: #00ffff;
}

.faq .copyright > span {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif !important;
}

.faqDetail-a {
  font-family: digital_techregular, sans-serif, "Courier New", Courier,
    monospace;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.faqDetail-a span {
  font-family: sans-serif, "Courier New", Courier, monospace;
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.faqDetail-q {
  font-family: digital_techregular, sans-serif, "Courier New", Courier,
    monospace;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.faqDetail-q span {
  font-family: sans-serif, "Courier New", Courier, monospace;
  color: #00ffff;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.mintNow {
  border: 2.2px solid #615f007d;
  color: rgb(111, 82, 0);
  font-weight: 600;
  width: 150px;
  margin-top: 10%;
  opacity: 0.9;
  background-color: #615f0032;
}

.mintNow:hover {
  background-color: #c4a000;
  transition: 0.4s;
  opacity: 1;
  transform: translateY(-4px);
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.carousel__wrap {
  margin-top: 10%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: #fff;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__inner {
  height: 40rem;
  position: relative;
  width: 60rem;
}

.carousel__container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__slide-list {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  width: 70px;
}

.carousel__slide-item {
  display: inline-block;
  height: 30rem;
  margin: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s;
  width: 5rem;
}

.carousel__slide-item-img-link {
  cursor: zoom-in;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__slide-item-img-link img {
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  width: 100%;
}

.carousel__slide-item-img-link:hover:after {
  opacity: 1;
}

.carousel__slide-item-img-link:hover:after img {
  transform: scale(1.3);
}

.carousel__slide-item-img-link::after {
  align-items: center;
  background: rgba(black, 0.5);
  color: white;
  content: "read more";
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  width: 100%;
}

.carousel-slide-item__body {
  bottom: -2.5rem;
  height: 10%;
  position: absolute;
}

.carousel-slide-item__body h4 {
  margin: 0.7rem 0 0;
  text-transform: uppercase;
}

.carousel-slide-item__body p {
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0.7rem 0 0;
}

.carousel__btn {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__btn--prev {
  left: -10rem;
}

.carousel__btn--next {
  right: -10rem;
}

.carousel__btn-arrow {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  height: 6rem;
  padding: 3px;
  width: 6rem;
  z-index: 10;
}

.carousel__btn-arrow--left {
  transform: rotate(135deg);
}

.carousel__btn-arrow--right {
  transform: rotate(-45deg);
}

.carousel__dots {
  display: inline-block;
  left: 50%;
  margin-top: 2rem;
  position: absolute;
  transform: translateX(-50%);
}

.carousel__dots .dot {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  margin: 0 0.3rem;
  outline: none;
  transform: scale(0.5);
  width: 2rem;
}

.carousel__dots .dot.active {
  background-color: black;
}

.team-item:hover {
  color: #fff;
}

.team-item:hover h1,
.team-item:hover div {
  color: #fff !important;
}

.gallery {
  margin: 10%;
}

.gallery img {
  width: 250px;
  margin: 12%;
}

.gallery .slider {
  width: 100%;
  margin: 15rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gallery .slick-dots li button::before {
  color: #fff;
}

.gallery .slick-dots li.slick-active button:before {
  color: #0086c4;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1313136e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0086c4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006b9c;
}

#tokenomics {
  margin-top: 5rem;
  border-top: 3px solid #006b9c;
  border-bottom: 3px solid #006b9c;
  padding-bottom: 2rem;
  font-family: digital_techregular, sans-serif;
  background-image: linear-gradient(
    to right,
    #000,
    rgba(0, 0, 0, 0.541),
    #003d59,
    #007890
  );
}

.token-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #dccee2;
  display: flex;
  justify-content: center;
  margin: 50px;
}

#tokenomics h1 h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#tokenomics h2 {
  font-size: 20px;
  color: #dccee2;
}

#tokenomics h1 span {
  font-family: digital_techregular, sans-serif;
}

#tokenomics h2 span {
  color: #9b1908;
}

#tokenomics .texts:last-child h1,
#tokenomics .texts:last-child h2 {
  color: #000;
}

#tokenomics .token:hover img {
  transform: rotateY(180deg);
}

#teams h1 {
  user-select: none;
}

#teams h1:hover {
  color: #fff;
}

#teams h1,
#teams h2,
#teams p,
#teams .subtext {
  font-family: digital_techregular, sans-serif;
}

#teams .teams-margin {
  margin: 2rem;
}

.team-logos {
  width: 900px;
}

.logo-and-text {
  background-color: #615f001e;
  border: 2px solid #615f0000;
  border-radius: 30px;
  margin: 24px;
  margin-left: 40px;
}

.mobile-logo-text {
  display: none;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-back {
  transform: rotateY(180deg);
}

.WalletPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-display {
  cursor: pointer;
}


@media (max-width: 1024px) {
  .logo-and-text {
    background: none;
  }

  .Main-header {
    min-height: 60vh;
  }

  .text-logo {
    display: none;
  }

  .hero-text {
    margin: 0;
    position: absolute;
    bottom: -220px;
    width: 100%;
    text-align: center;
  }

  .mobile-logo-text {
    display: flex;
    font-size: larger;
    color: rgb(148, 86, 0);
  }
}


@media (max-width: 768px) {
  .logo {
    display: none;
  }

  .logo-and-text {
    display: none;
  }

  .mobile-logo-text {
    display: flex;
    color: rgb(148, 86, 0);
  }

  .logo-mobile {
    display: flex;
    width: 30%;
    max-width: 120px;
  }

  .hero-text p {
    font-size: x-small;
    margin: 0;
  }

  .hero-text {
    margin: 0;
    padding: 3%;
    margin-bottom: 40px;
    position: absolute;
    display: flex;
    text-align: center;
    bottom: -370px;
    width: 100%;
    text-align: center;
  }

  .mintNow {
    width: 100px;
    font-size: smaller;
  }

  #tokenomics {
    background-image: none;
    background-color: #003d59;
  }
  .flip-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Main-header {
    min-height: 46vh;
    background-size: cover;
    min-width: 100%;
  }
}


